{% extends 'home/base.html' %} {% load static %} {% block title %}<title>
  Tweet Generator</title
>{% endblock %} {% block content %}
<link rel="stylesheet" href="{% static 'css/twitter.css' %}" />
<style>
  input {
    width: 100% !important;
  }
</style>

<body>
  <div class="container mt-3 align-self-center">
    <div class="container">
      <div class="mt-4 p-2">
        <br />
        <h3>Scraped Emails</h3>
        <textarea
          name=""
          id="output"
          cols="30"
          rows="10"
          class="form-control pt-5 mt-4"
          placeholder="Scraped Emails be shown here....."
        >
        </textarea>
      </div>

      <h4>Progress: <span id="status">0%</span></h4>
      <br />
      <div class="progress">
        <div
          class="progress-bar"
          role="progressbar"
          style="width: 0%"
          aria-valuenow="0"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>

      <form class="form-inline mx-2 row no-gutters mt-4" id="form">
        <div class="form-group px-3 mb-2 col col-3">
          <input
            type="text"
            class="form-control"
            placeholder="Enter your keyword"
            required
            id="query"
            name="query"
          />
        </div>

        <div class="form-group px-3 mb-2 col col-4">
          <input
            type="number"
            class="form-control"
            placeholder="Number of Emails you need"
            required
            id="emails"
            name="emails"
          />
        </div>
        <div class="form-group px-3 mb-2 col col-2">
          <select name="method" id="method" class="form-control">
            <option value="b2c">B2C</option>
            <option value="b2b">B2B</option>
            <option value="both">Both</option>
          </select>
        </div>
        <div class="col col-3">
          <button type="submit" class="btn btn-warning mt-0">Send</button>
          <a
            id="downloadBtn"
            class="btn btn-warning mt-0"
            style="pointer-events: none"
            >Download</a
          >
          <div id="process" class="container" style="display: none">
            <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
            <lottie-player
              src="https://assets10.lottiefiles.com/packages/lf20_jxdtgpuk.json"
              background="transparent"
              speed="1"
              style="width: 100px; height: 100px"
              loop
              autoplay
            ></lottie-player>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
  var click = 0;
  $("#form").submit(function () {
    event.preventDefault();
    $("#process").css("display", "block");
    query = $("#query").val();
    emails = $("#emails").val();
    method = $("#method").val();
    $("input[type=text]").val("").attr("disabled", true);
    $("button[type=submit]").attr("disabled", true);
    data = { query: query, emails: emails, method: method };
    //  get current job details live
    setInterval(() => {
      $.ajax({
        method: "GET",
        data: data,
        url: '{% url "currentJob" %}',
        success: function (res) {
          var data = res.job;
          console.log(data);
          $("#output").val(data.emails);
          const p = parseInt(data.progress);
          console.log(p);
          $(".progress-bar").css({ width: `${p}%` });
          $(".progress-bar").attr("aria-valuenow", p);
          $("#status").text(`${p} %`);
        },
        error: function (error) {
          console.log(erorr);
        },
      });
    }, 5000);

    $.ajax({
      method: "GET",
      data: data,
      url: '{% url "twitter" %}',

      success: function (r) {
        result = r.output;
        console.log(result);
        $("#output").val(result);
        $("#downloadBtn").attr("href", `/media/csv/${r.input}.xlsx`);
        $("#downloadBtn").attr("style", "pointer-events:all;");
        $("#downloadBtn").attr("download", true);
        $("input[type=text]").attr("disabled", false);
        $("button[type=submit]").attr("disabled", false);
        $(".anim").remove();
        $("#process").css("display", "none");
      },
      error: function (error) {
        console.log(error);
      },
    });
  });

  $(document).ready(function () {
    $("footer").hide();
  });
</script>

{% endblock %}
