{% extends 'home/base.html' %} {% load static %} {% block title %}<title>
  Tweet Generator</title
>{% endblock %} {% block content %}

<body>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <!-- Job status dropdown -->
        <div class="form-group">
          <label for="job-status">Filter by Status:</label>
          <select id="job-status" class="form-control">
            <option value="#">-----</option>
            <option value="all">all</option>
            <option value="completed">Completed</option>
            <option value="pending">Pending</option>
          </select>
        </div>
      </div>
    </div>
    {% for job in jobs %}
    <div class="col-lg-12 p-5 text-black">
      <div class="card text-white bg-dark">
        <div class="card-header">
          <h3 class="pt-1">{{job.name}}</h3>
          <h5>status :<span> {{job.status}}</span></h5>
        </div>
        <div class="card-body mb-0">
          <a
            href="{% if job.csv %}{{ job.csv.url }}{% endif %}"
            {% if job.status == 'pending' %}style="pointer-events: none;"{% endif %}
            download
            class="float-right m-4"
          >
            <button
              class="btn btn-primary"
              
            >
              Download CSV File
            </button>
          </a>

          <h4>Progress: <span>{{ job.progress }}%</span></h4>
          <div class="progress">
            <div
              class="progress-bar"
              role="progressbar"
              style="width: {{ job.progress }}%"
              aria-valuenow="0"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>
    const dropdown = document.getElementById("job-status");
    dropdown.addEventListener("change", function () {
      const selectedValue = dropdown.value;
      switch (selectedValue) {
        case "all":
          window.location.href = "/home/my_jobs";
          break;
        case "completed":
          window.location.href = "/home/my_jobs?s=completed";
          break;
        case "pending":
          window.location.href = "/home/my_jobs?s=pending";
          break;
        default:
          break;
      }
    });
  </script>
</body>
{% endblock %}
