{% extends "base.html" %}
{% load item_tags %}

{% load crispy_forms_filters %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="breadcrumb-main">
                <h4 class="text-capitalize breadcrumb-title">History</h4>
                <div class="breadcrumb-action justify-content-center flex-wrap">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url "map" %}"><i class="uil uil-estate"></i>Map</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">History</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-30">
            <div class="support-ticket-system support-ticket-system--search">
                <div class="breadcrumb-main m-0 breadcrumb-main--table justify-content-sm-between ">

                    <form action="." class="support-form datatable-support-form d-flex justify-content-xxl-between
                    justify-content-between align-items-center flex-wrap">
                        <div class="support-form__input-status m-3">
                            <div class="dm-select " style="min-width: 250px;">
                                <select name="username"
                                        class="select-search form-control select2-hidden-accessible" data-select2-id="5"
                                        tabindex="-1" aria-hidden="true">
                                    {% if request.GET.username %}
                                        <option value="{{ request.GET.username }}">{{ request.GET.username }}</option>
                                    {% else %}
                                        <option value="">All</option>
                                    {% endif %}
                                    {% for user in users %}
                                        {% if request.GET.username != user.username %}

                                            <option value="{{ user.username }}"
                                            >{{ user.username }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="d-flex m-3">
                            <input class="form-control p-2" type="search"
                                   placeholder="Search"
                                   style="min-width: 250px"
                                   name="search"
                                    {% if request.GET.search %}
                                   value="{{ request.GET.search }}"
                                    {% endif %}
                                   aria-label="Search">
                        </div>
                        <button class="support-form__input-button">search</button>

                    </form>


                    <div class="action-btn mb-3">
                        <div class="dropdown dropdown-click">
                            <div class="btn-group dropleft">
                                <button class="btn btn-outline-lighten btn-sm">Export</button>
                                <button type="button" class="btn btn-outline-lighten btn-sm dropdown-toggle-split"
                                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="uil uil-angle-down"></i>
                                </button>
                                <div class="dropdown-default dropdown-menu" style="">
                                    <a class="dropdown-item" href="{% url 'search_info_download' search_info_id %}">Export</a>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>


                <div class="userDatatable userDatatable--ticket userDatatable--ticket--2 mt-1">
                    <div class="table-responsive">
                        <table class="table mb-0 table-borderless">
                            <thead>

                            <tr class="userDatatable-header">
                                <th>
                                    <span class="projectDatatable-title">Action</span>
                                </th>
                                <th>
                                    <span class="projectDatatable-title">business_name</span>
                                </th>
                                <th>
                                    <span class="projectDatatable-title">full_address</span>
                                </th>
                                <th>
                                    <span class="projectDatatable-title">street</span>
                                </th>

                                <th>
                                    <span class="projectDatatable-title">municipality</span>
                                </th>
                                <th>
                                    <span class="projectDatatable-title">categories</span>
                                </th>
                                <th>
                                    <span class="projectDatatable-title">Plus code</span>
                                </th>

                                <th>
                                    <span class="projectDatatable-title">email</span>
                                </th>
                                <th>
                                    <span class="projectDatatable-title">phone</span>
                                </th>
                                <th>
                                    <span class="projectDatatable-title">phones</span>
                                </th>

                                <th>
                                    <span class="projectDatatable-title">Social medias</span>
                                </th>
                                <th>
                                    <span class="projectDatatable-title">Average Rating</span>
                                </th>

                                <th>
                                    <span class="projectDatatable-title">Review count</span>
                                </th>
                                <th>
                                    <span class="projectDatatable-title">Reviews url</span>
                                </th>
                                <th>
                                    <span class="projectDatatable-title">place_id</span>
                                </th>
                                <th>
                                    <span class="projectDatatable-title">cid</span>
                                </th>
                                <th>
                                    <span class="projectDatatable-title">opening_hours</span>
                                </th>
                                <th>
                                    <span class="projectDatatable-title">google_map_url</span>
                                </th>
                                <th>
                                    <span class="projectDatatable-title">latitude</span>
                                </th>
                                <th>
                                    <span class="projectDatatable-title">longitude</span>
                                </th>

                                <th>
                                    <span class="projectDatatable-title">website</span>
                                </th>


                            </tr>
                            </thead>
                            <tbody>
                            {% for item in page_obj %}
                                <tr>
                                    <td style="max-width: 10px">

                                        <form action="{% url 'history_delete' %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" value="{{ item.id }}"
                                                   name="history_id">

                                            <button type="submit"
                                                    class=" btn" style="box-shadow: none;">
                                                <i class="uil uil-trash-alt text-danger"></i>
                                            </button>
                                        </form>

                                    </td>

                                    <td>
                                        <div class="userDatatable-content--subject">
                                            {{ item.business_name }}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="userDatatable-content--subject">
                                            {{ item.municipality }}, {{ item.street }}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="userDatatable-content--subject">
                                            {{ item.street }}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="userDatatable-content--subject">
                                            {{ item.municipality }}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="userDatatable-content--subject">
                                            {{ item.categories|truncatechars:50 }}
                                        </div>
                                    </td>

                                    <td>
                                        <div class="userDatatable-content--subject">
                                            {{ item.plus_code }}
                                        </div>
                                    </td>

                                    <td>
                                        <div class="userDatatable-content--subject">
                                            {{ item.email }}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="userDatatable-content--subject" style=" white-space: nowrap;">
                                            {{ item.phone_number }}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="userDatatable-content--subject" style=" white-space: nowrap;">
                                            {{ item.phones }}
                                        </div>
                                    </td>

                                    <td>
                                        <div class="userDatatable-content--subject">
                                            {{ item.social_media_links }}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="userDatatable-content--subject">
                                            {{ item.review_count }}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="userDatatable-content--subject">
                                            {{ item.average_rating }}
                                        </div>
                                    </td>
                                    <td>
                                        <a href="{{ item.reviews_url }}" target="_blank">
                                            <div class="userDatatable-content--subject"
                                                 style="max-width: 200px; overflow: auto;white-space: normal">
                                                {{ item.reviews_url }}
                                            </div>
                                        </a>
                                    </td>
                                    <td>
                                        <div class="userDatatable-content--subject">
                                            {{ item.place_id }}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="userDatatable-content--subject">
                                            {{ item.cid }}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="userDatatable-content--subject">
                                            {{ item.opening_hours|truncatechars:30 }}
                                        </div>
                                    </td>
                                    <td>
                                        <a href="{{ item.google_map_url }}" target="_blank">
                                            <div class="userDatatable-content--subject">
                                                {{ item.google_map_url }}
                                            </div>
                                        </a>
                                    </td>
                                    <td>
                                        <div class="userDatatable-content--subject">
                                            {{ item.latitude }}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="userDatatable-content--subject">
                                            {{ item.longitude }}
                                        </div>
                                    </td>


                                    <td>
                                        <div class="userDatatable-content--priority">
                                            <a href="{{ item.website }}"
                                               style="">
                                                {{ item.website |truncatechars:30 }}
                                            </a>
                                        </div>
                                    </td>


                                </tr>


                            {% endfor %}


                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex justify-content-end pt-30">
                        <nav class="dm-page ">
                            <ul class="dm-pagination d-flex">
                                {% if is_paginated %}
                                    <li class="dm-pagination__item">
                                        {% if page_obj.has_previous %}
                                            <a href="{% paginate_url page_obj.previous_page_number 'page' request.GET.urlencode %}"
                                               class="dm-pagination__link pagination-control"><span
                                                    class="la la-angle-left"></span></a>
                                        {% else %}
                                            <a href="#" class="dm-pagination__link pagination-control"><span
                                                    class="la la-angle-left"></span></a>
                                        {% endif %}
                                        {% get_proper_elided_page_range paginator page_obj.number as page_range %}
                                        {% for i in page_range %}
                                            {% if page_obj.number == i %}
                                                <a href="#" class="dm-pagination__link active"><span
                                                        class="page-number">{{ i }}</span></a>
                                            {% else %}
                                                <a href="{% paginate_url i 'page' request.GET.urlencode %}"
                                                   class="dm-pagination__link"><span
                                                        class="page-number">{{ i }}</span></a>
                                            {% endif %}
                                        {% endfor %}
                                        {% if page_obj.has_next %}
                                            <a href="{% paginate_url page_obj.next_page_number 'page' request.GET.urlencode %}"
                                               class="dm-pagination__link pagination-control"><span
                                                    class="la la-angle-right"></span></a>
                                        {% else %}
                                            <a href="#" class="dm-pagination__link pagination-control"><span
                                                    class="la la-angle-right"></span></a>

                                        {% endif %}
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
        </div>


    </div>

{% endblock %}

